body {
color:#666;
font-family:Helvetica;
font-size:72%;
line-height:1.5em;
margin:0;
border-top:1px solid #393939;
background:#222 none repeat scroll 0 0;
background:#bbb url(images/background.jpg);
text-align:center;

}

div { position:relative;}

#background {
    position:absolute;
    bottom:0;
    z-index:-1;
    color:rgba(0,0,0,0.2);
    font-weight:bold;
    overflow:hidden;
}

.stats {
  margin:10px;
  padding:15px 5px;
  border:1px solid white;
  border-color:rgba(255,255,255,0.5);
  background:rgba(0,0,0,0.2);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
 
}

ul, li {
    list-style-type:none;
    padding:0px;
    margin:0;
}

li {
    font-size:3em;
    line-height:1.2em;
    list-style-type:none;
    padding:0px;
    color:rgba(255,255,255,0.9);
    font-weight:bold;
}


#time {
    color:#aaa;
}
#ride-number { font-size:2em}

#distance, #maplink {
    display:none;
}
#maplink a {
    display:inline;
    color:rgba(0,0,0,0.7);
    background:rgba(255,255,255,0.5);
    border:1px solid rgba(0,0,0,0.25);
    padding:4px 9px;
    font-size:.5em;
    text-decoration:none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#maplink a:hover, #maplink a:active { background:rgba(255,255,255,0.9) }



div#button { 
    position:absolute;
    height:150px;
    width:150px;
    margin:0;
    margin-left:-75px;
    bottom:30px;
    left:50%;
    }

a#start:active {
    border:0;
}

#thedata {
    margin:10px;
    padding:10px 5px 20px;
    border:1px solid white;
    border-color:rgba(255,255,255,0.5);
    background:rgb(0,0,0);
    background:rgba(0,0,0,0.4);
}

#mapframe {
    margin:0 5% 5%; 
    height:440px; 
    width:88%;
    background:rgba(255,255,255,0.3);
}
